Repository dhilt/ngx-ui-scroll: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@602b41f6e13c392e2a66da2232a4177e53dc6abf 🚀
  3rdpartylicenses.txt
  index.html
  main.30b57545aa1f7461.js
  main.30b57545aa1f7461.js.map
  main.c04f8340c74f2e39.js
  main.c04f8340c74f2e39.js.map
  styles.7784133638e6c847.css.map
Due: prettier --write

Support zoneless mode (2)
  scroller/src/ui-scroll.component.ts
  tests/miscellaneous/misc.ts
Due: npm run lint, prettier --write

Move workflow code from component to directive
  scroller/src/ui-scroll.component.ts
  scroller/src/ui-scroll.directive.ts
  tests/common.spec.ts
  tests/miscellaneous/misc.ts
Due: npm run lint, prettier --write

Demo is a separate project
  demo/.npmrc
  demo/angular.json
  demo/package-lock.json
  demo/package.json
  demo/tsconfig.app.json
  demo/tsconfig.json
Due: prettier --write

Demo linter fixes
  demo/app/samples/adapter/adapter-relax.component.ts
  demo/app/samples/adapter/append-prepend-sync.component.ts
  demo/app/samples/adapter/append-prepend.component.ts
  demo/app/samples/adapter/bof-eof.component.ts
  demo/app/samples/adapter/check-size.component.ts
  demo/app/samples/adapter/insert.component.ts
  demo/app/samples/common/different-heights.component.ts
  demo/app/samples/datasource/bidirectional-unlimited-datasource.component.ts
  demo/app/samples/datasource/inverted-datasource.component.ts
  demo/app/samples/datasource/limited-datasource.component.ts
  demo/app/samples/datasource/pages-datasource.component.ts
  demo/app/samples/datasource/positive-limited-datasource.component.ts
  demo/app/samples/experimental/adapter-fix-position.component.ts
  demo/app/samples/experimental/inverse-setting.component.ts
  demo/app/samples/experimental/onBeforeClip-setting.component.ts
  package.json
Due: npm run lint, prettier --write

Dependencies, CI & server updates
  .github/workflows/ci.yml
  .github/workflows/deploy-manual.yml
  demo/env.js
  demo/package-lock.json
  demo/package.json
  package.json
  scroller/package.json
  server/.gitignore
  server/index.js
  server/package-lock.json
  server/package.json
  tests/package-lock.json
  tests/package.json
Due: prettier --write

CI should work
  package.json
  tests/karma.conf.js
Due: prettier --write

CI should work (2)
  .github/workflows/ci.yml
  server/index.js
  tests/karma.conf.js
Due: prettier --write

CI should work (3)
  .github/workflows/deploy-manual.yml
Due: none

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@59cd40ce35783238c088de9d027aae0e57665031 🚀
  3rdpartylicenses.txt
  index.html
  main.a19f458c39631c6e.js
  main.a19f458c39631c6e.js.map
  main.c04f8340c74f2e39.js
  main.c04f8340c74f2e39.js.map
  polyfills.1e34927abaedc7da.js
  polyfills.1e34927abaedc7da.js.map
  polyfills.561b6ecc4e0dfa03.js
  polyfills.561b6ecc4e0dfa03.js.map
  runtime.93d5487b99dd448f.js.map
  styles.7784133638e6c847.css.map
Due: prettier --write

Negative index cut after fetch (spec to fail)
  tests/scaffolding/datasources/store.ts
  tests/specs/bug.spec.ts
Due: npm run lint, prettier --write

vscroll v1.5.6
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

Dependencies lock update
  demo/package-lock.json
  package-lock.json
  scroller/package-lock.json
  tests/package-lock.json
Due: prettier --write

v3.1.1
  README.md
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
Due: npm run lint, prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@80535d2458b7fc04f1d2a058b69f90c5a5a667ac 🚀
  index.html
  main.31b819e976bc426b.js
  main.31b819e976bc426b.js.map
  main.a19f458c39631c6e.js
  main.a19f458c39631c6e.js.map
  polyfills.10b47a295b4c99d7.js
  polyfills.10b47a295b4c99d7.js.map
  polyfills.561b6ecc4e0dfa03.js
  polyfills.561b6ecc4e0dfa03.js.map
  runtime.93d5487b99dd448f.js.map
  styles.7784133638e6c847.css.map
Due: prettier --write

issue-349 CustomRoutines type
  scroller/src/types.ts
Due: npm run lint, prettier --write

issue-349 optional Routines param in the directive
  scroller/src/ui-scroll.directive.ts
Due: npm run lint, prettier --write

issue-349 optional Routines param in the component
  scroller/src/ui-scroll.component.ts
Due: npm run lint, prettier --write

issue-349 RoutinesClassType
  scroller/public-api.ts
  scroller/src/types.ts
  scroller/src/ui-scroll.component.ts
  scroller/src/ui-scroll.directive.ts
  scroller/src/vscroll.ts
Due: npm run lint, prettier --write

issue-349 better Datasource typing
  scroller/src/ui-scroll.datasource.ts
Due: npm run lint, prettier --write

vscroll v1.6.0-beta.1
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

issue-349 types refactoring
  scroller/public-api.ts
  scroller/src/types.ts
  scroller/src/ui-scroll.component.ts
  scroller/src/ui-scroll.datasource.ts
  scroller/src/ui-scroll.directive.ts
Due: npm run lint, prettier --write

issue-349 types refactoring (2)
  demo/app/shared/datasource-get.ts
  tests/scaffolding/testComponent.ts
Due: npm run lint, prettier --write

issue-349 Routines demo
  demo/app/demos.ts
  demo/app/routes.ts
  demo/app/samples/experimental.component.html
  demo/app/samples/experimental/routines.component.html
  demo/app/samples/experimental/routines.component.ts
  scroller/src/types.ts
Due: npm run lint, prettier --write

vscroll v1.6.0-beta.2
  README.md
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

vscroll v1.6.0-beta.3 & test fix
  scroller/package-lock.json
  scroller/package.json
  scroller/src/vscroll.ts
  tests/miscellaneous/misc.ts
Due: npm run lint, prettier --write

v3.2.0-beta
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
Due: npm run lint, prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@a1bb539d36f61b1a26f4f6a5c11464014ce28002 🚀
  index.html
  main.31b819e976bc426b.js
  main.31b819e976bc426b.js.map
  main.c79f38c6b481855b.js
  main.c79f38c6b481855b.js.map
Due: prettier --write

CI actions update
  .github/workflows/ci.yml
  .github/workflows/deploy-manual.yml
Due: none

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@1cc73f37cdb46f924a1ef215c3d0e52c350c47d8 🚀
  index.html
Due: prettier --write

vscroll v1.6.0-beta.4
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

issue-351 adapter pause/resume demo
  demo/app/demos.ts
  demo/app/routes.ts
  demo/app/samples/experimental.component.html
  demo/app/samples/experimental/adapter-pause-resume.component.html
  demo/app/samples/experimental/adapter-pause-resume.component.ts
Due: npm run lint, prettier --write

v3.2.0-beta.2
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
Due: npm run lint, prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@59085aeec90b53ed347da89534d806daa1c88d20 🚀
  index.html
  main.467fd4e507ea9bdf.js
  main.467fd4e507ea9bdf.js.map
  main.c79f38c6b481855b.js
  main.c79f38c6b481855b.js.map
Due: prettier --write

issue-351 adapter pause/resume demo (2)
  demo/app/samples/experimental/adapter-pause-resume.component.ts
Due: npm run lint, prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@00660f40b9eadc2fcfd53d2501ccb1bc0030a124 🚀
  index.html
  main.467fd4e507ea9bdf.js
  main.467fd4e507ea9bdf.js.map
  main.6e9ce77bdaf0a1bf.js
  main.6e9ce77bdaf0a1bf.js.map
Due: prettier --write

issue-351 adapter pause/resume demo in the Adapter scope
  demo/app/demos.ts
  demo/app/routes.ts
  demo/app/samples/adapter.component.html
  demo/app/samples/adapter/pause-resume.component.html
  demo/app/samples/adapter/pause-resume.component.ts
  demo/app/samples/experimental.component.html
Due: npm run lint, prettier --write

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: any of: *.{ts,js,html,scss,md,json}
