Repository dhilt/ngx-ui-scroll: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

vscroll v1.6.3 - export Routines
  public_api.ts
  src/vscroll.ts
Due: npm run lint, prettier --write

vscroll v1.6.3 - update demos
  demo/app/demos.ts
  demo/app/routes.ts
  demo/app/samples/adapter.component.html
  demo/app/samples/adapter/append-prepend-sync.component.html
  demo/app/samples/adapter/append-prepend.component.html
  demo/app/samples/adapter/append-prepend.component.ts
  demo/app/samples/adapter/pause-resume.component.html
  demo/app/samples/adapter/pause-resume.component.ts
  demo/app/samples/datasource.component.html
  demo/app/samples/experimental.component.html
  demo/app/samples/experimental/routines.component.html
  demo/app/samples/experimental/routines.component.ts
  demo/app/samples/home.component.html
  demo/app/samples/home.component.ts
  demo/app/samples/settings.component.html
Due: npm run lint, prettier --write

2025
  LICENSE
  README.md
  demo/app/shared/nav.component.html
Due: prettier --write

Update readme
  README.md
Due: prettier --write

v2.4.0
  package-dist.json
  package.json
  src/ui-scroll.version.ts
Due: npm run lint, prettier --write

v2.4.0 CI fixes
  karma.conf.js
  package-dist.json
  tests/min-max-indexes.spec.ts
  tests/miscellaneous/misc.ts
Due: npm run lint, prettier --write

v.2.4.1
  package-dist.json
  package.json
  src/ui-scroll.version.ts
Due: npm run lint, prettier --write

Angular v20, npm update
  demo/package-lock.json
  demo/package.json
Due: prettier --write

Angular v20, configs update
  demo/angular.json
  demo/tsconfig.json
  scroller/angular.json
Due: prettier --write

vscroll 1.7.0
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

Angular v20, npm update (scroller)
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

vscroll v1.7.0
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

angular vulnerabilities npm audit fix
  demo/package-lock.json
  scroller/angular.json
  scroller/package-lock.json
Due: prettier --write

Bump all dependencies
  demo/package-lock.json
  scroller/package-lock.json
Due: prettier --write

v4.1.0
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
Due: npm run lint, prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@ceea15bc4288277ea9912cb009d4ef9a66e40342 🚀
  3rdpartylicenses.txt
  browser/assets/ngx-ui-scroll-demo.gif
  browser/favicon.ico
  browser/index.html
  browser/main-SXC2GTF2.js
  browser/main-SXC2GTF2.js.map
  browser/nav.component-FRDPJXM3.css.map
  browser/polyfills-UJQJDU6K.js
  browser/polyfills-UJQJDU6K.js.map
  browser/styles-UK3YC5OB.css
  browser/styles-UK3YC5OB.css.map
  index.html
  main.d9be6d9b50c4e694.js
  main.d9be6d9b50c4e694.js.map
  polyfills.73b47156a49818f5.js
  polyfills.73b47156a49818f5.js.map
  prerendered-routes.json
  runtime.df9c6bc50f1e1b0d.js
  runtime.df9c6bc50f1e1b0d.js.map
  styles.61295b3700842832.css.map
Due: prettier --write

Demo app fix: nodejs server
  server/index.js
Due: prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@2747a91820b2e2aaafa73dfb85699b79a290f178 🚀
  3rdpartylicenses.txt
  assets/ngx-ui-scroll-demo.gif
  favicon.ico
  index.html
  main-SXC2GTF2.js
  main-SXC2GTF2.js.map
  nav.component-FRDPJXM3.css.map
  polyfills-UJQJDU6K.js
  polyfills-UJQJDU6K.js.map
  prerendered-routes.json
  styles-UK3YC5OB.css
  styles-UK3YC5OB.css.map
Due: prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@692d241067bfa86ca9157ffbab19b80c9684dbce 🚀
  3rdpartylicenses.txt
  browser/assets/ngx-ui-scroll-demo.gif
  browser/favicon.ico
  browser/index.html
  browser/main-SXC2GTF2.js
  browser/main-SXC2GTF2.js.map
  browser/nav.component-FRDPJXM3.css.map
  browser/polyfills-UJQJDU6K.js
  browser/polyfills-UJQJDU6K.js.map
  browser/styles-UK3YC5OB.css
  browser/styles-UK3YC5OB.css.map
  prerendered-routes.json
Due: prettier --write

Demo app fix: actions
  .github/workflows/deploy-manual.yml
Due: none

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@bbd5d3fe6a00442b401e0ac0bc2ca497c9b492e0 🚀
  3rdpartylicenses.txt
  assets/ngx-ui-scroll-demo.gif
  browser/index.html
  browser/main-SXC2GTF2.js
  browser/main-SXC2GTF2.js.map
  browser/nav.component-FRDPJXM3.css.map
  browser/polyfills-UJQJDU6K.js
  browser/polyfills-UJQJDU6K.js.map
  browser/styles-UK3YC5OB.css
  browser/styles-UK3YC5OB.css.map
  favicon.ico
  index.html
  main.9b784106d59499e0.js
  main.9b784106d59499e0.js.map
  polyfills.1e34927abaedc7da.js
  polyfills.1e34927abaedc7da.js.map
  prerendered-routes.json
  runtime.93d5487b99dd448f.js
  runtime.93d5487b99dd448f.js.map
  styles.7784133638e6c847.css
  styles.7784133638e6c847.css.map
Due: prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@6e1a05296610f03e147ae9ff23b3223a0eda4c1b 🚀
  3rdpartylicenses.txt
  browser/assets/ngx-ui-scroll-demo.gif
  browser/favicon.ico
  browser/index.html
  browser/main-SXC2GTF2.js
  browser/main-SXC2GTF2.js.map
  browser/nav.component-FRDPJXM3.css.map
  browser/polyfills-UJQJDU6K.js
  browser/polyfills-UJQJDU6K.js.map
  browser/styles-UK3YC5OB.css
  browser/styles-UK3YC5OB.css.map
  index.html
  main.9b784106d59499e0.js
  main.9b784106d59499e0.js.map
  polyfills.1e34927abaedc7da.js
  polyfills.1e34927abaedc7da.js.map
  prerendered-routes.json
  runtime.93d5487b99dd448f.js
  runtime.93d5487b99dd448f.js.map
  styles.7784133638e6c847.css
  styles.7784133638e6c847.css.map
Due: prettier --write

Demo app fix: actions (2)
  .github/workflows/ci.yml
Due: none

Demo fix app: action (3)
  .github/workflows/deploy-manual.yml
Due: none

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@51809d8044873e2dbefa89881c34b0ade1aa3566 🚀
  3rdpartylicenses.txt
  assets/ngx-ui-scroll-demo.gif
  favicon.ico
  index.html
  main-SXC2GTF2.js
  main-SXC2GTF2.js.map
  nav.component-FRDPJXM3.css.map
  polyfills-UJQJDU6K.js
  polyfills-UJQJDU6K.js.map
  prerendered-routes.json
  styles-UK3YC5OB.css
  styles-UK3YC5OB.css.map
Due: prettier --write

Demo fix app: favicon
  demo/index.html
Due: prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@6a9a1fca65c92b30c07a8e457dfa01ba5210ded2 🚀
  index.html
Due: prettier --write

Bump all dependencies
  demo/package-lock.json
  demo/package.json
  package-lock.json
  package.json
  scroller/package-lock.json
  scroller/package.json
  server/package-lock.json
  server/package.json
  tests/package-lock.json
  tests/package.json
Due: prettier --write

issue-364 Angular 21 configs
  demo/angular.json
  demo/tsconfig.json
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
  scroller/tsconfig.json
  tests/tsconfig.json
Due: npm run lint, prettier --write

issue-364 Angular 21 tests
  tests/scaffolding/testBed.ts
  tests/specs/adapter.clip.spec.ts
Due: npm run lint, prettier --write

issue-364 Angular 21 demo: Router -> ActivatedRoute
  demo/app/app.component.ts
Due: npm run lint, prettier --write

vscroll v1.8.2
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

issue-364 tests for adapter.clip in infinite mode
  tests/specs/adapter.clip.spec.ts
Due: npm run lint, prettier --write

issue-364 Angular 21 demo run
  demo/angular.json
Due: prettier --write

vscroll v1.8.3
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

issue-364 NG0956 repro
  demo/app/samples/test.component.html
  demo/app/samples/test.component.ts
Due: npm run lint, prettier --write

issue-364 adapter.update spec
  tests/specs/adapter.update.spec.ts
Due: npm run lint, prettier --write

issue-364 uid checks across adapter specs
  tests/miscellaneous/misc.ts
  tests/specs/adapter.append-prepend.spec.ts
  tests/specs/adapter.check.spec.ts
  tests/specs/adapter.clip.spec.ts
  tests/specs/adapter.insert.spec.ts
  tests/specs/adapter.reload.spec.ts
  tests/specs/adapter.remove.spec.ts
  tests/specs/adapter.reset.spec.ts
Due: npm run lint, prettier --write

issue-364 Angular 21 demo: signals (2)
  demo/app/samples/adapter/first-last-visible-items.component.html
  demo/app/samples/adapter/first-last-visible-items.component.ts
  demo/app/samples/experimental/adapter-fix-updater.component.html
  demo/app/samples/experimental/adapter-fix-updater.component.ts
  demo/app/samples/experimental/routines.component.html
  demo/app/samples/experimental/routines.component.ts
  demo/app/shared/demo.component.html
  demo/app/shared/demo.component.ts
  demo/app/shared/demo/demo-sources.component.html
  demo/app/shared/demo/demo-sources.component.ts
Due: npm run lint, prettier --write

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: any of: *.{ts,js,html,scss,md,json}
