Repository dhilt/ngx-ui-scroll: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

.lintstagedrc.json:

{
  "*.ts": "npm run lint",
  "*.{ts,js,html,scss,md,json}": "prettier --write"
}

vscroll v1.6.1
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

issue-351 paused$ reactive wrapper
  scroller/src/types.ts
  scroller/src/ui-scroll.datasource.ts
Due: npm run lint, prettier --write

issue-351 pause-resume spec
  tests/index.ts
  tests/specs/adapter.pause.spec.ts
Due: npm run lint, prettier --write

issue-351 adapter pause/resume demo cleanup
  demo/app/demos.ts
  demo/app/routes.ts
  demo/app/samples/adapter.component.html
  demo/app/samples/adapter/pause-resume.component.html
  demo/app/samples/adapter/pause-resume.component.ts
Due: npm run lint, prettier --write

issue-351 adapter pause/resume documentation
  README.md
Due: prettier --write

issue-351 adapter pauses/paused$ demo
  demo/app/samples/adapter/adapter-relax.component.html
  demo/app/samples/adapter/init.component.html
  demo/app/samples/adapter/is-loading-extended.component.ts
  demo/app/samples/adapter/is-loading.component.html
  demo/app/samples/adapter/is-loading.component.ts
  demo/app/samples/adapter/items-count.component.html
  demo/app/samples/adapter/items-count.component.ts
  demo/app/samples/adapter/pause-resume.component.html
  demo/app/samples/adapter/pause-resume.component.ts
  demo/app/samples/datasource.component.html
Due: npm run lint, prettier --write

issue-351 adapter pauses/paused$ documentation
  README.md
Due: prettier --write

v3.2.0
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
Due: npm run lint, prettier --write

2024
  LICENSE
  README.md
  demo/app/shared/nav.component.html
Due: prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@adf6bebeb62f048ca87eaf72cb82df20c254769d 🚀
  index.html
  main.0b8dd9bc48feca63.js
  main.0b8dd9bc48feca63.js.map
  main.6e9ce77bdaf0a1bf.js
  main.6e9ce77bdaf0a1bf.js.map
Due: prettier --write

fix: export types used by the `Datasource` class
  scroller/public-api.ts
  scroller/src/types.ts
Due: npm run lint, prettier --write

v3.2.1
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
Due: npm run lint, prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@355f6fa13b1bed2f6a2491ddee9c53d05427a95c 🚀
  index.html
  main.0b8dd9bc48feca63.js
  main.0b8dd9bc48feca63.js.map
  main.52da9612bf0012d2.js
  main.52da9612bf0012d2.js.map
Due: prettier --write

refactor: upgrade to Angular 19
  scroller/package-lock.json
  scroller/package.json
  scroller/public-api.ts
  scroller/src/ui-scroll.component.html
  scroller/src/ui-scroll.component.ts
  scroller/src/ui-scroll.directive.ts
  scroller/src/ui-scroll.module.ts
Due: npm run lint, prettier --write

ci: update node-version
  .github/workflows/ci.yml
Due: none

refactor: update unit tests
  package.json
  tests/miscellaneous/misc.ts
  tests/package-lock.json
  tests/package.json
  tests/scaffolding/testComponent.ts
Due: npm run lint, prettier --write

vscroll v1.6.3
  scroller/package-lock.json
  scroller/package.json
Due: prettier --write

issue-357 virtualize parameter for Adapter append/prepend methods (update demo)
  demo/app/samples/adapter/append-prepend-sync.component.html
  demo/app/samples/adapter/append-prepend.component.html
  demo/app/samples/adapter/append-prepend.component.ts
Due: npm run lint, prettier --write

issue-357 virtualize parameter for Adapter append/prepend methods (tests)
  tests/specs/adapter.append-prepend.spec.ts
Due: npm run lint, prettier --write

issue-357 virtualize parameter for Adapter append/prepend methods (docs)
  README.md
Due: prettier --write

CI fix (Ubuntu 22)
  .github/workflows/ci.yml
  demo/angular.json
  tests/angular.json
Due: prettier --write

Wrapper project dependencies fix
  package-lock.json
  package.json
Due: prettier --write

2025
  LICENSE
  README.md
  demo/app/shared/nav.component.html
Due: prettier --write

v3.2.2
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
Due: npm run lint, prettier --write

Deploying to gh-pages from @ dhilt/ngx-ui-scroll@72891013fbbfce70d574e6d1c9e593b192b2d0a5 🚀
  3rdpartylicenses.txt
  index.html
  main.52da9612bf0012d2.js
  main.52da9612bf0012d2.js.map
  main.dd973849183bae09.js
  main.dd973849183bae09.js.map
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Remove Datasource failure specifications (as they are implemented in the core project) and related testing infrastructure
  tests/scaffolding/runner.ts
  tests/specs/datasource.spec.ts
Due: npm run lint, prettier --write

Angular 17-18 compatibility
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.component.ts
  scroller/src/ui-scroll.directive.ts
Due: npm run lint, prettier --write

Add karma-spec-reporter on CI
  tests/karma.conf.js
  tests/package-lock.json
  tests/package.json
Due: prettier --write

Update tests dependencies
  tests/package-lock.json
  tests/package.json
Due: prettier --write

Update tests dependencies (2)
  tests/package-lock.json
  tests/package.json
Due: prettier --write

Karma config cleanup
  tests/karma.conf.js
Due: prettier --write

Update wrapper project dependencies
  package-lock.json
  package.json
Due: prettier --write

Update demo/lib dependencies
  demo/package-lock.json
  demo/package.json
  scroller/package-lock.json
Due: prettier --write

v4.0.0
  scroller/package-lock.json
  scroller/package.json
  scroller/src/ui-scroll.version.ts
Due: npm run lint, prettier --write

Compatibility chapter in Readme
  README.md
Due: prettier --write

Demo app config: buildTarget fix
  demo/angular.json
Due: prettier --write

vscroll v1.6.3
  package-lock.json
  package.json
Due: prettier --write
